@font-face {
  font-family: 'arial';
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

html, body {  
  background-color: #222;
}

.default-container {
  position: relative;
  width: 220px;
  height: 90px;
  border: 2px solid #FFFFFF;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50px;
  overflow: hidden;
}


.time-text {
  font-size: 36px;
  font-family: 'Arimo', sans-serif;
  color: white;
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
}


.date-text {
  font-size: 16px;
  font-family: 'Arimo', sans-serif;
  color: white;
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  position: absolute;
}


.default-container:hover .time-text {
  transform: translateY(-10px); 
}

.default-container:hover .date-text {
  opacity: 1;
  transform: translateY(20px); 
}